div(ng-include='"app/admin/report/ip.html"' ng-if="report_list_ctrl.state == 'show-ip'")
div(ng-include='"app/admin/report/report.html"' ng-if="report_list_ctrl.state == 'show-report'")
div(ng-include='"app/admin/report/report-chat-modal.html"')


