.container
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      ul.footer_link
        li
          a(ui-sref="privacy") Privacy Policy
        li
          a(ui-sref="faq") FAQ
        li
          a(href="https://www.reddit.com/r/247buddy/search?q=missed+connections&restrict_sr=on&sort=relevance&t=all") Missed connections
        li
          a(href="https://www.reddit.com/r/247buddy/comments/73ttct/247buddy_report_issues_here/") Report a bug
          

    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      ul.footer_link.social_link
        li
          a(href="https://www.facebook.com/247Buddy-239761303218506/")
            img(src="assets/images/facebook.png")
        li
          a(href="https://twitter.com/247Buddy_")
            img(src="assets/images/twitter.png")
        li
          a(href="https://www.reddit.com/r/247buddy/")
            img(src="assets/images/reddit.png")
        li
          a(href="https://discordapp.com/invite/57JZugd")
            img(src="assets/images/discord.svg" width=30)
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-left © 2017 247Buddy
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right contactus@247buddy.net