footer.footer {
  text-align: center;
  height: auto;
  padding: 10px 0;
  .footer_link{
    padding: 0;
    margin:0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: stretch; 
    li{
      list-style: none;
      margin-right:20px;
      
      a{
        cursor: pointer;
      }
    }

    &.social_link{
      align-items: flex-end;
      justify-content: flex-end;

      li{
        margin-right:0;
        margin-left: 20px;
      }
    }
  }
}
