.aboutus.green_bg
  .container
    .row.blue_bg
      .col-lg-12.col-md-12.col-sm-12.text-center
        img(src='/assets/images/404.png')
        h5 Knock Knock!! Who's there??
        h5 Page not found
        h5 There is no knock knock joke and this page sorry. 