.aboutus.green_bg
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        h1 FAQ



    .row.blue_bg
      .col-lg-12.col-md-12.col-sm-12
        uib-accordion
            uib-accordion-group(heading='General')
                uib-accordion
                    uib-accordion-group(heading='Where did you get the idea for  247Buddy?') 
                        p I got the idea from a project called CompassionPit which worked on the same concept of anonymous listening and venting. 
                        p Unfortunately that project died 4 years back. CompassionPit helped me a lot during my dark times so lets says 247Buddy is my version of it.
                        p The idea is simple yet so effective. Anybody can vent to a stranger and ease their mind or anybody can listen to a stranger and feel appreciated.
                        p Comparing this with other chat sites, this is not a place to find dates. You don't feel awkward as there is a theme attached. 
                        p In just 2 clicks  you can connect to someone and feel as if you know them, there is no initial awkwardness.  
                        p 247Buddy is your comfort cushion.
                    uib-accordion-group(heading='Is 247Buddy really anonymous?') Yes, we don't care about your identiy, we just care about you.
                    uib-accordion-group(heading='Who is 247Buddy for?') 
                        p Therapy/Counselling is sometimes expensive and not readily available, 247Buddy can aid those  who want to seek help. Again 247Buddy is not a replacement for Therapy/Counselling its just a medium for people helping people. 
                        p Some people struggle to make friends yet have so many things they want to get off their chest, they can use this platform.
                        p Despite having an amazing social life, some still have things they want to say but they avoid opening up, as it might make them sound weak. 247Buddy  can  help them open up and continue with their lives.
                        p People who think to calling Suicide hotlines, getting into therapy are they only options, this is an another option for them. Make sure 247Buddy is not a suicide hotline .
                        p Some people just need some space to casually vent where therapy is not needed, 247Buddy maybe the place they can seek comfort.
                        p 247Buddy fully supports LGBT community and our friends in LGBT go through a lot, they can help each other as well.
                        p Some just need a hug even if its an internet hug and hear "Everything will be ok"
                    uib-accordion-group(heading='Can I use 247Buddy behind tor browser/services') Yes, but please do not troll. We do respect your identity and we need some level of identification to keep trolls at bay.  
            uib-accordion-group(heading='Missed connections/How can I reconnect with someone.')
                p Either during the conversations, share contact information but be careful.
                p Post it onto or browse our subreddit.
                p We soon will try to add features to assist you finding your lost buddy. 
            uib-accordion-group(heading='Known Issues')
                p If you leave the app on the background, you are removed from que. Yes  you are forced to see the loading screen but we will fix this soon.
                p If you leave the app on the background while talking to someone, you are disconnected and few messages may not be received. This is due to we do not save any messages. 
                p Once I select a role and I see the loading screen there is no way to switch roles.
                p Sometimes you notice others conversations, yes this is a bad I mean really bad bug but we will fix this soon. 
                p I am connected to my partner but there is no response, at this moment its not possible to understand why your partner is not responding.  
                p The typing indicator doesn't work consistent especially on mobile devices 
            uib-accordion-group(heading='How can I help 247Buddy?')
                p Listen to someone
                p Share 247Buddy with the world
                p Buy a badge during conversation
                p Consider donating to 247Buddy
                





