.aboutus.green_bg
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.vcenter
        h5 To continue using 247Buddy you will be asked to verify your number
        h5 This is done to keep spam and trolls away.
        p
          button.btn_space.blue_button(ng-click='vm.AccountKitStart();') Continue..
